
<div class="page" data-page="detail">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
			<div class="center" id="movieTitle"></div>
		</div>
	</div>
	<div class="speed-dial">
		<a href="#" class="floating-button"><i class="material-icons">videocam</i><i class="icon icon-close"></i></a>
		<div class="speed-dial-buttons">
			<a href="#" class="trailers-popup"><i class="material-icons">subscriptions</i></a>
			<a href="#" class="posters-popup"><i class="material-icons">perm_media</i></a>
		</div>
	</div>
	<div class="page-content">
		<div class="list-block" id="moviDetail"></div>
	</div>
</div>
